@import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");
@import "./variable.scss";

.recorder-library-box {
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Lato", sans-serif;
  }
  .recorder-page-box {
    min-height: calc(100vh - 128px);
    background: #fff;
  }
  .duration {
    text-align: center;
  }
  .mic-icon {
    width: 60px;
    display: flex;
    height: 60px;
    position: fixed;
    justify-content: center;
    align-items: center;
    background: rgb(245, 0, 87);
    border-radius: 50%;
    bottom: 65px;
    right: 20%;
    color: #fff;
    font-size: 25px;
  }
  .recorder-box {
    width: 600px;
    margin: 0 auto;
    padding: 30px 0;
  }
  .recorder-box-inner {
    min-height: 400px;
    background: #212121;
    border-radius: 0 0 3px 3px;
    display: flex;
    flex-direction: column;
  }
  .reco-header {
    display: flex;
    justify-content: space-between;
    background: #bd9f61;
    align-items: center;
    padding: 20px 20px;
    color: #fff;
    border-radius: 3px 3px 0 0;
  }
  .reco-header h2 {
    font-weight: 400;
  }
  .reco-header .close-icons {
    font-size: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
    transition: 0.5s ease all;
  }
  .reco-header .close-icons:hover {
    background: rgba(123, 118, 106, 0.21);
  }
  .record-section {
    position: relative;
    flex: 1;
  }
  .record-section .mic-icon {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
  }
  .record-section .duration-section {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 100px;
  }
  .record-controller {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 0px;
    padding: 20px 0;
    display: flex;

    .icons {
      width: 50px;
      display: flex;
      height: 50px;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      color: #fff;
      margin-right: 15px;
      font-size: 20px;
    }

    .stop {
      background: #940505;
    }
    .pause {
      background: #9c6702;
    }
  }

  .duration * {
    color: #fff;
    font-size: 60px;
  }
  .duration-section .help {
    color: #fff;
  }

  .btn-wrapper{
    margin: 20px 30px;

    .btn{
      border: 0;
      outline: 0;
      padding: 10px 20px;
      border-radius: 20px;
      background: #185fec;
      color: #fff;
      cursor: pointer;
      border:1px solid #185fec;
      transition:.3s ease all;
    }
    .btn:hover{
      background: #fff;
      color: #185fec;
    }
    .clear-btn{
      background: #fff;
      color: #185fec;
      margin-left:15px;
    }
    .clear-btn:hover{
      background: #185fec;
      color: #fff;
    }
  }
  
}
